# OS
.DS_Store

# Root Node
node_modules/
package-lock.json

# Root Python virtualenv
.venv/

# Serverless artifacts
.serverless/

# Environment files
.env
.env.*
!.env.example

# Frontend artifacts
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.*

# Backend artifacts
backend/__pycache__/
backend/**/*.pyc
backend/.venv/
